@import "tailwindcss";


#root {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Bd v3.2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Blk v3.2.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Li v3.2.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Med v3.2.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Thin v3.2.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X UlLi v3.2.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'DB Helvethaica X', sans-serif;
}

@layer theme {
  :root {
    --color-band: rgb(209, 0, 31);
    --color-band-hover: rgb(209, 0, 31);
    --text-title-md: 28px;
    --bg-content: rgb(242, 244, 247);
    --color-sw-gray-25: rgb(253, 254, 255);
    --font-size-label-medium: 22px;
    --font-weight-label-normal: 400;
    --font-weight-label-medium: 500;
    --letter-spacing-label-medium: 0.25px;
    --line-height-label-medium: 100%;
  }
}

@layer utilities {
  .bg-band {
    background-color: var(--color-band);
  }

  .bg-content {
    background-color: var(--bg-content);
  }

  .text-band {
    color: var(--color-band);
  }

  .border-band {
    border-color: var(--color-band);
  }

  .bg-band:hover {
    background-color: var(--color-band-hover);
    opacity: .7;
  }

  .text-title-md-medium {
    font-size: var(--text-title-md);
    font-weight: 500;
  }

  .text-label-medium {
    font-size: var(--font-size-label-medium);
    font-weight: var(--font-weight-label-medium);
    letter-spacing: var(--letter-spacing-label-medium);
    line-height: var(--line-height-label-medium);
  }

  .text-label-normal {
    font-size: var(--font-size-label-medium);
    font-weight: var(--font-weight-label-normal);
    letter-spacing: var(--letter-spacing-label-medium);
    line-height: var(--line-height-label-medium);
  }

  .text-body-md-regular {
    line-height: 100%;
  }
}