@import "tailwindcss";


#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Bd v3.2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Blk v3.2.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Li v3.2.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Med v3.2.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X Thin v3.2.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('./font/DB Helvethaica X UlLi v3.2.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'DB Helvethaica X', sans-serif;
}

@layer theme {
  :root {
    --color-band: rgb(209, 0, 31);
    --color-band-hover: rgb(209, 0, 31);
    --text-title-md: 28px;
  }
}

@layer utilities {
  .bg-band {
    background-color: var(--color-band);
  }
  .text-band {
    color: var(--color-band);
  }
  .border-band {
    border-color: var(--color-band);
  }
  .bg-band:hover {
    background-color: var(--color-band-hover);
    opacity: .7;
  }
  .text-title-md-medium {
    font-size: var(--text-title-md);
    font-weight: 500;
  }
}